<a href="https://www.kaggle.com/code/yorkyong/m5-forecasting-autogluon-1series?scriptVersionId=205347718" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<div class ="alert alert-block alert-warning">
    
- This notebook aims to apply AutoGluon-TimeSeries as covered by https://paperswithcode.com/paper/autogluon-timeseries-automl-for-probabilistic on the M5 dataset

- Research Question: How can an automated machine learning framework enhance accuracy and efficiency of demand forecasting?
    
- We attempt to implement this on the private and public leaderboard and compare the accuracy accordingly.

- Speed of inference and training will be noted using `%time` for recording purpose

# Import Libraries

In [4]:
pip install autogluon thinc==8.2.5

Collecting autogluon
  Downloading autogluon-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting thinc==8.2.5
  Downloading thinc-8.2.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (15 kB)
Collecting blis<0.8.0,>=0.7.8 (from thinc==8.2.5)
  Downloading blis-0.7.11-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.4 kB)
Requirement already satisfied: murmurhash<1.1.0,>=1.0.2 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (3.0.9)
Requirement already satisfied: wasabi<1.2.0,>=0.8.1 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (1.1.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.4 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (2.0.10)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (0.1.5)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (70.0.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (2.9.2)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (21.3)
Requirement already satisfied: numpy<2.0.0,>=1.19.0 in /opt/conda/lib/python3.10/site-packages (from thinc==8.2.5) (1.26.4)
Collecting autogluon.core==1.1.1 (from autogluon.core[all]==1.1.1->autogluon)
  Downloading autogluon.core-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting autogluon.features==1.1.1 (from autogluon)
  Downloading autogluon.features-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting autogluon.tabular==1.1.1 (from autogluon.tabular[all]==1.1.1->autogluon)
  Downloading autogluon.tabular-1.1.1-py3-none-any.whl.metadata (13 kB)
Collecting autogluon.multimodal==1.1.1 (from autogluon)
  Downloading autogluon.multimodal-1.1.1-py3-none-any.whl.metadata (12 kB)
Collecting autogluon.timeseries==1.1.1 (from autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading autogluon.timeseries-1.1.1-py3-none-any.whl.metadata (12 kB)
Collecting scipy<1.13,>=1.5.4 (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon)
  Downloading scipy-1.12.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.4/60.4 kB 2.2 MB/s eta 0:00:00
Collecting scikit-learn<1.4.1,>=1.3.0 (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon)
  Downloading scikit_learn-1.4.0-1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: networkx<4,>=3.0 in /opt/conda/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (3.3)
Requirement already satisfied: pandas<2.3.0,>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (2.2.3)
Requirement already satisfied: tqdm<5,>=4.38 in /opt/conda/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (4.66.4)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (2.32.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (3.7.5)
Requirement already satisfied: boto3<2,>=1.10 in /opt/conda/lib/python3.10/site-packages (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (1.26.100)
Collecting autogluon.common==1.1.1 (from autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon)
  Downloading autogluon.common-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting ray<2.11,>=2.10.0 (from ray[default,tune]<2.11,>=2.10.0; extra == "all"->autogluon.core[all]==1.1.1->autogluon)
  Downloading ray-2.10.0-cp310-cp310-manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: hyperopt<0.2.8,>=0.2.7 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==1.1.1->autogluon) (0.2.7)
Requirement already satisfied: Pillow<11,>=10.0.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==1.1.1->autogluon) (10.3.0)
Collecting torch<2.4,>=2.2 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading torch-2.3.1-cp310-cp310-manylinux1_x86_64.whl.metadata (26 kB)
Collecting lightning<2.4,>=2.2 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading lightning-2.3.3-py3-none-any.whl.metadata (35 kB)
Collecting transformers<4.41.0,>=4.38.0 (from transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.multimodal==1.1.1->autogluon)
  Downloading transformers-4.40.2-py3-none-any.whl.metadata (137 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.0/138.0 kB 5.2 MB/s eta 0:00:00
Collecting accelerate<0.22.0,>=0.21.0 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading accelerate-0.21.0-py3-none-any.whl.metadata (17 kB)
Collecting jsonschema<4.22,>=4.18 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading jsonschema-4.21.1-py3-none-any.whl.metadata (7.8 kB)
Collecting seqeval<1.3.0,>=1.2.2 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading seqeval-1.2.2.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.6/43.6 kB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting evaluate<0.5.0,>=0.4.0 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading evaluate-0.4.3-py3-none-any.whl.metadata (9.2 kB)
Collecting timm<0.10.0,>=0.9.5 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading timm-0.9.16-py3-none-any.whl.metadata (38 kB)
Collecting torchvision<0.19.0,>=0.16.0 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading torchvision-0.18.1-cp310-cp310-manylinux1_x86_64.whl.metadata (6.6 kB)
Collecting scikit-image<0.21.0,>=0.19.1 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading scikit_image-0.20.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (16 kB)
Requirement already satisfied: text-unidecode<1.4,>=1.3 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==1.1.1->autogluon) (1.3)
Collecting torchmetrics<1.3.0,>=1.2.0 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading torchmetrics-1.2.1-py3-none-any.whl.metadata (20 kB)
Collecting nptyping<2.5.0,>=1.4.4 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading nptyping-2.4.1-py3-none-any.whl.metadata (7.7 kB)
Collecting omegaconf<2.3.0,>=2.1.1 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading omegaconf-2.2.3-py3-none-any.whl.metadata (3.9 kB)
Collecting pytorch-metric-learning<2.4,>=1.3.0 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading pytorch_metric_learning-2.3.0-py3-none-any.whl.metadata (17 kB)
Collecting nlpaug<1.2.0,>=1.1.10 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading nlpaug-1.1.11-py3-none-any.whl.metadata (14 kB)
Collecting nltk<4.0.0,>=3.4.5 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting openmim<0.4.0,>=0.3.7 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading openmim-0.3.9-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: defusedxml<0.7.2,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==1.1.1->autogluon) (0.7.1)
Requirement already satisfied: jinja2<3.2,>=3.0.3 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==1.1.1->autogluon) (3.1.4)
Requirement already satisfied: tensorboard<3,>=2.9 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==1.1.1->autogluon) (2.16.2)
Collecting pytesseract<0.3.11,>=0.3.9 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading pytesseract-0.3.10-py3-none-any.whl.metadata (11 kB)
Collecting nvidia-ml-py3==7.352.0 (from autogluon.multimodal==1.1.1->autogluon)
  Downloading nvidia-ml-py3-7.352.0.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pdf2image<1.19,>=1.17.0 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==1.1.1->autogluon) (1.17.0)
Requirement already satisfied: xgboost<2.1,>=1.6 in /opt/conda/lib/python3.10/site-packages (from autogluon.tabular[all]==1.1.1->autogluon) (2.0.3)
Requirement already satisfied: fastai<2.8,>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.tabular[all]==1.1.1->autogluon) (2.7.17)
Requirement already satisfied: lightgbm<4.4,>=3.3 in /opt/conda/lib/python3.10/site-packages (from autogluon.tabular[all]==1.1.1->autogluon) (4.2.0)
Requirement already satisfied: catboost<1.3,>=1.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.tabular[all]==1.1.1->autogluon) (1.2.7)
Requirement already satisfied: joblib<2,>=1.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon) (1.4.2)
Collecting pytorch-lightning<2.4,>=2.2 (from autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading pytorch_lightning-2.3.3-py3-none-any.whl.metadata (21 kB)
Collecting gluonts==0.15.1 (from autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading gluonts-0.15.1-py3-none-any.whl.metadata (9.9 kB)
Collecting statsforecast<1.5,>=1.4.0 (from autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading statsforecast-1.4.0-py3-none-any.whl.metadata (19 kB)
Collecting mlforecast<0.10.1,>=0.10.0 (from autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading mlforecast-0.10.0-py3-none-any.whl.metadata (11 kB)
Collecting utilsforecast<0.0.11,>=0.0.10 (from autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading utilsforecast-0.0.10-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: orjson~=3.9 in /opt/conda/lib/python3.10/site-packages (from autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon) (3.10.4)
Collecting optimum<1.19,>=1.17 (from optimum[onnxruntime]<1.19,>=1.17; extra == "all"->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading optimum-1.18.1-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: psutil<6,>=5.7.3 in /opt/conda/lib/python3.10/site-packages (from autogluon.common==1.1.1->autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (5.9.3)
Requirement already satisfied: toolz~=0.10 in /opt/conda/lib/python3.10/site-packages (from gluonts==0.15.1->autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon) (0.12.1)
Requirement already satisfied: typing-extensions~=4.0 in /opt/conda/lib/python3.10/site-packages (from gluonts==0.15.1->autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon) (4.12.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging>=20.0->thinc==8.2.5) (3.1.2)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/conda/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->thinc==8.2.5) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /opt/conda/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->thinc==8.2.5) (2.23.4)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.10/site-packages (from accelerate<0.22.0,>=0.21.0->autogluon.multimodal==1.1.1->autogluon) (6.0.2)
Collecting botocore<1.30.0,>=1.29.100 (from boto3<2,>=1.10->autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon)
  Downloading botocore-1.29.165-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3<2,>=1.10->autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/conda/lib/python3.10/site-packages (from boto3<2,>=1.10->autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (0.6.2)
Requirement already satisfied: graphviz in /opt/conda/lib/python3.10/site-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==1.1.1->autogluon) (0.20.3)
Requirement already satisfied: plotly in /opt/conda/lib/python3.10/site-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==1.1.1->autogluon) (5.22.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==1.1.1->autogluon) (1.16.0)
Requirement already satisfied: datasets>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from evaluate<0.5.0,>=0.4.0->autogluon.multimodal==1.1.1->autogluon) (3.0.1)
Requirement already satisfied: dill in /opt/conda/lib/python3.10/site-packages (from evaluate<0.5.0,>=0.4.0->autogluon.multimodal==1.1.1->autogluon) (0.3.8)
Requirement already satisfied: xxhash in /opt/conda/lib/python3.10/site-packages (from evaluate<0.5.0,>=0.4.0->autogluon.multimodal==1.1.1->autogluon) (3.4.1)
Requirement already satisfied: multiprocess in /opt/conda/lib/python3.10/site-packages (from evaluate<0.5.0,>=0.4.0->autogluon.multimodal==1.1.1->autogluon) (0.70.16)
Requirement already satisfied: fsspec>=2021.05.0 in /opt/conda/lib/python3.10/site-packages (from fsspec[http]>=2021.05.0->evaluate<0.5.0,>=0.4.0->autogluon.multimodal==1.1.1->autogluon) (2024.6.1)
Requirement already satisfied: huggingface-hub>=0.7.0 in /opt/conda/lib/python3.10/site-packages (from evaluate<0.5.0,>=0.4.0->autogluon.multimodal==1.1.1->autogluon) (0.25.1)
Requirement already satisfied: pip in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==1.1.1->autogluon) (24.0)
Requirement already satisfied: fastdownload<2,>=0.0.5 in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==1.1.1->autogluon) (0.0.7)
Requirement already satisfied: fastcore<1.8,>=1.5.29 in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==1.1.1->autogluon) (1.7.10)
Requirement already satisfied: fastprogress>=0.2.4 in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==1.1.1->autogluon) (1.0.3)
Requirement already satisfied: spacy<4 in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==1.1.1->autogluon) (3.8.2)
Requirement already satisfied: future in /opt/conda/lib/python3.10/site-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==1.1.1->autogluon) (1.0.0)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.10/site-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==1.1.1->autogluon) (3.0.0)
Requirement already satisfied: py4j in /opt/conda/lib/python3.10/site-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==1.1.1->autogluon) (0.10.9.7)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2<3.2,>=3.0.3->autogluon.multimodal==1.1.1->autogluon) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema<4.22,>=4.18->autogluon.multimodal==1.1.1->autogluon) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/lib/python3.10/site-packages (from jsonschema<4.22,>=4.18->autogluon.multimodal==1.1.1->autogluon) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/conda/lib/python3.10/site-packages (from jsonschema<4.22,>=4.18->autogluon.multimodal==1.1.1->autogluon) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from jsonschema<4.22,>=4.18->autogluon.multimodal==1.1.1->autogluon) (0.18.1)
Requirement already satisfied: lightning-utilities<2.0,>=0.10.0 in /opt/conda/lib/python3.10/site-packages (from lightning<2.4,>=2.2->autogluon.multimodal==1.1.1->autogluon) (0.11.7)
Requirement already satisfied: numba in /opt/conda/lib/python3.10/site-packages (from mlforecast<0.10.1,>=0.10.0->autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon) (0.60.0)
Collecting window-ops (from mlforecast<0.10.1,>=0.10.0->autogluon.timeseries==1.1.1->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading window_ops-0.0.15-py3-none-any.whl.metadata (6.8 kB)
Collecting gdown>=4.0.0 (from nlpaug<1.2.0,>=1.1.10->autogluon.multimodal==1.1.1->autogluon)
  Downloading gdown-5.2.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==1.1.1->autogluon) (8.1.7)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.10/site-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==1.1.1->autogluon) (2024.5.15)
Collecting antlr4-python3-runtime==4.9.* (from omegaconf<2.3.0,>=2.1.1->autogluon.multimodal==1.1.1->autogluon)
  Downloading antlr4-python3-runtime-4.9.3.tar.gz (117 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.0/117.0 kB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: colorama in /opt/conda/lib/python3.10/site-packages (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==1.1.1->autogluon) (0.4.6)
Collecting model-index (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==1.1.1->autogluon)
  Downloading model_index-0.1.11-py3-none-any.whl.metadata (3.9 kB)
Collecting opendatalab (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==1.1.1->autogluon)
  Downloading opendatalab-0.0.10-py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: rich in /opt/conda/lib/python3.10/site-packages (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==1.1.1->autogluon) (13.7.1)
Requirement already satisfied: tabulate in /opt/conda/lib/python3.10/site-packages (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==1.1.1->autogluon) (0.9.0)
Collecting coloredlogs (from optimum<1.19,>=1.17->optimum[onnxruntime]<1.19,>=1.17; extra == "all"->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading coloredlogs-15.0.1-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: sympy in /opt/conda/lib/python3.10/site-packages (from optimum<1.19,>=1.17->optimum[onnxruntime]<1.19,>=1.17; extra == "all"->autogluon.timeseries[all]==1.1.1->autogluon) (1.12)
Collecting transformers<4.41.0,>=4.38.0 (from transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.multimodal==1.1.1->autogluon)
  Downloading transformers-4.39.3-py3-none-any.whl.metadata (134 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: onnx in /opt/conda/lib/python3.10/site-packages (from optimum[onnxruntime]<1.19,>=1.17; extra == "all"->autogluon.timeseries[all]==1.1.1->autogluon) (1.17.0)
Collecting onnxruntime>=1.11.0 (from optimum[onnxruntime]<1.19,>=1.17; extra == "all"->autogluon.timeseries[all]==1.1.1->autogluon)
  Downloading onnxruntime-1.20.0-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (4.4 kB)
Requirement already satisfied: protobuf>=3.20.1 in /opt/conda/lib/python3.10/site-packages (from optimum[onnxruntime]<1.19,>=1.17; extra == "all"->autogluon.timeseries[all]==1.1.1->autogluon) (3.20.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.core==1.1.1->autogluon.core[all]==1.1.1->autogluon) (2024.1)

In [1]:
import gc
import psutil

import pandas as pd  # For data manipulation
import numpy as np  # For numerical operations
import warnings  # To suppress warnings
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor
from autogluon.timeseries.utils.forecast import get_forecast_horizon_index_ts_dataframe
from sklearn.preprocessing import LabelEncoder
import re

warnings.filterwarnings('ignore')  # Suppress warnings for cleaner output

import random  # For generating random numbers

# Function to set a fixed random seed for reproducibility
def seed_everything(seed):
    np.random.seed(seed)  # Set numpy random seed
    random.seed(seed)  # Set built-in random seed

seed_everything(seed=2024)  # Set the seed to 2024

# Load Dataset

In [42]:
calendar = pd.read_csv("/kaggle/input/m5-forecasting-accuracy/calendar.csv")  # Load calendar dataset
print(f"len(calendar):{len(calendar)}")  # Print the number of rows in calendar
calendar

len(calendar):1969

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [43]:
sales_train_evaluation = pd.read_csv("/kaggle/input/m5-forecasting-accuracy/sales_train_evaluation.csv")
print(f"len(sales_train_evaluation): {len(sales_train_evaluation)}")
sales_train_evaluation.head()

len(sales_train_evaluation): 30490

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0

In [44]:
sell_prices = pd.read_csv("/kaggle/input/m5-forecasting-accuracy/sell_prices.csv")
print(f"len(sell_prices):{len(sell_prices)}")
sell_prices

len(sell_prices):6841121

        store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]

In [3]:
# Enhanced memory optimization function with object datatype handling
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2  # Initial memory usage in MB
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:  # Downcast numerics
            c_min, c_max = df[col].min(), df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
        elif col_type == 'object':  # Handle object types
            if col == 'date':  # Convert date column to datetime
                df[col] = pd.to_datetime(df[col], format='%Y-%m-%d')
            else:
                df[col] = df[col].astype('category')  # Convert other object types to category
    end_mem = df.memory_usage().sum() / 1024**2  # Final memory usage in MB
    if verbose:
        print(f'Memory usage reduced to {end_mem:5.2f} Mb ({100 * (start_mem - end_mem) / start_mem:.1f}% reduction)')
    return df

In [5]:
# Apply the optimized memory reduction function to each dataframe
calendar = reduce_mem_usage(calendar)
sell_prices = reduce_mem_usage(sell_prices)
sales_train_evaluation = reduce_mem_usage(sales_train_evaluation)

# Testing AutoGluon on one specific item

In [47]:
# Specify the item_id, dept_id, cat_id, store_id you want to filter
item_id = 'FOODS_3_586'
dept_id = 'FOODS_3'
cat_id = 'FOODS'
store_id = 'TX_1'

In [48]:
# Select a specific series (adjust item_id, dept_id, cat_id, and store_id as required)
selected_item = sales_train_evaluation[(sales_train_evaluation['item_id'] == item_id) &
                                       (sales_train_evaluation['dept_id'] == dept_id) &
                                       (sales_train_evaluation['cat_id'] == cat_id) &
                                       (sales_train_evaluation['store_id'] == store_id)]

In [49]:
selected_item

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
15006,FOODS_3_586_TX_1_evaluation,FOODS_3_586,FOODS_3,FOODS,TX_1,TX,53,46,42,45,...,61,70,73,46,56,49,46,64,70,69

In [56]:
# Map d_ columns to dates
date_mapping = calendar[['date', 'd']].set_index('d').to_dict()['date']
sales_data = selected_item.filter(regex=r'd_\d+', axis=1).T
sales_data.columns = ['sales']
sales_data['timestamp'] = sales_data.index.map(date_mapping)
sales_data['timestamp'] = pd.to_datetime(sales_data['timestamp'])
sales_data['item_id'] = selected_item['id'].iloc[0]
sales_data = TimeSeriesDataFrame(sales_data.set_index(['item_id', 'timestamp']))

In [57]:
sales_data

                                        sales
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2011-01-29     53
                            2011-01-30     46
                            2011-01-31     42
                            2011-02-01     45
                            2011-02-02     28
...                                       ...
                            2016-05-18     49
                            2016-05-19     46
                            2016-05-20     64
                            2016-05-21     70
                            2016-05-22     69

[1941 rows x 1 columns]

# Setting up Time varying covariates

In [58]:
# Filter sell_prices for the relevant store_id and item_id
filtered_sell_prices = sell_prices[(sell_prices['store_id'] == store_id) & (sell_prices['item_id'] == item_id)]

# Encode event-related features in the calendar dataframe
event_columns = ['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
le = LabelEncoder()
for col in event_columns:
    calendar[col] = le.fit_transform(calendar[col].astype(str))

# Merge calendar with filtered_sell_prices on wm_yr_wk
calendar = calendar.merge(filtered_sell_prices, how='left', on='wm_yr_wk')

In [59]:
calendar

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,store_id,item_id,sell_price
0,2011-01-29,11101,Saturday,1,1,2011,d_1,30,4,4,2,0,0,0,TX_1,FOODS_3_586,1.480469
1,2011-01-30,11101,Sunday,2,1,2011,d_2,30,4,4,2,0,0,0,TX_1,FOODS_3_586,1.480469
2,2011-01-31,11101,Monday,3,1,2011,d_3,30,4,4,2,0,0,0,TX_1,FOODS_3_586,1.480469
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,30,4,4,2,1,1,0,TX_1,FOODS_3_586,1.480469
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,30,4,4,2,1,0,1,TX_1,FOODS_3_586,1.480469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,30,4,4,2,0,1,1,TX_1,FOODS_3_586,1.679688
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,30,4,4,2,0,0,0,TX_1,FOODS_3_586,1.679688
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,30,4,4,2,0,0,0,TX_1,FOODS_3_586,1.679688
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,30,4,4,2,0,0,0,TX_1,FOODS_3_586,1.679688
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,16,3,2,0,0,0,0,TX_1,FOODS_3_586,1.679688

In [60]:
# Reset the index for sales_data to ensure it has a 'timestamp' column for merging
sales_data_reset = sales_data.reset_index()

# Ensure 'date' in calendar is in datetime format and set as index
calendar['date'] = pd.to_datetime(calendar['date'])
calendar = calendar.set_index('date')

# Select only relevant columns in calendar for merging
calendar_filtered = calendar[['wday','snap_CA', 'snap_TX', 'snap_WI', 'sell_price'] + event_columns]

# Merge sales_data with calendar_filtered on timestamp
sales_data_merged = sales_data_reset.merge(calendar_filtered, left_on='timestamp', right_index=True, how='left')

# Set the index back to the original format
sales_data = sales_data_merged.set_index(['item_id', 'timestamp'])

In [61]:
sales_data

                                        sales  wday  snap_CA  snap_TX  \
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2011-01-29     53     1        0        0
                            2011-01-30     46     2        0        0
                            2011-01-31     42     3        0        0
                            2011-02-01     45     4        1        1
                            2011-02-02     28     5        1        0
...                                       ...   ...      ...      ...
                            2016-05-18     49     5        0        0
                            2016-05-19     46     6        0        0
                            2016-05-20     64     7        0        0
                            2016-05-21     70     1        0        0
                            2016-05-22     69     2        0        0

                                        snap_WI  sell_price  event_name_1  \
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2011-01-29        0    1.480469            30
                            2011-01-30        0    1.480469            30
                            2011-01-31        0    1.480469            30
                            2011-02-01        0    1.480469            30
                            2011-02-02        1    1.480469            30
...                                         ...         ...           ...
                            2016-05-18        0    1.679688            30
                            2016-05-19        0    1.679688            30
                            2016-05-20        0    1.679688            30
                            2016-05-21        0    1.679688            30
                            2016-05-22        0    1.679688            30

                                        event_type_1  event_name_2  \
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2011-01-29             4             4
                            2011-01-30             4             4
                            2011-01-31             4             4
                            2011-02-01             4             4
                            2011-02-02             4             4
...                                              ...           ...
                            2016-05-18             4             4
                            2016-05-19             4             4
                            2016-05-20             4             4
                            2016-05-21             4             4
                            2016-05-22             4             4

                                        event_type_2
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2011-01-29             2
                            2011-01-30             2
                            2011-01-31             2
                            2011-02-01             2
                            2011-02-02             2
...                                              ...
                            2016-05-18             2
                            2016-05-19             2
                            2016-05-20             2
                            2016-05-21             2
                            2016-05-22             2

[1941 rows x 10 columns]

# Initialise TimeSeriesPredictor

In [74]:
# Step 1: Initialize the TimeSeriesPredictor with a primary eval_metric
predictor = TimeSeriesPredictor(
    prediction_length=28,
    target="sales",
    known_covariates_names=['wday', 'snap_CA', 'snap_TX', 'snap_WI', 'sell_price'] + event_columns,
    eval_metric="RMSSE"  # Primary metric for training
)

# Step 2: Fit the predictor
predictor.fit(train_data=sales_data, presets="best_quality", time_limit=600)

Beginning AutoGluon training... Time limit = 600s
AutoGluon will save models to 'AutogluonModels/ag-20241105_042536'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.10.14
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #1 SMP Thu Jun 27 20:43:36 UTC 2024
CPU Count:          4
GPU Count:          0
Memory Avail:       26.55 GB / 31.36 GB (84.7%)
Disk Space Avail:   19.49 GB / 19.52 GB (99.9%)
===================================================
Setting presets to: best_quality

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': RMSSE,
 'hyperparameters': 'default',
 'known_covariates_names': ['wday',
                            'snap_CA',
                            'snap_TX',
                            'snap_WI',
                            'sell_price',
                            'event_name_1',
                            'event_type_1',
                            'event_name_2',
                            'event_type_2'],
 'num_val_windows': 2,
 'prediction_length': 28,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'sales',
 'time_limit': 600,
 'verbosity': 2}

Inferred time series frequency: 'D'
Provided train_data has 1941 rows, 1 time series. Median time series length is 1941 (min=1941, max=1941).

Provided data contains following columns:
	target: 'sales'
	known_covariates:
		categorical:        []
		continuous (float): ['wday', 'snap_CA', 'snap_TX', 'snap_WI', 'sell_price', 'event_name_1', ...]

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'RMSSE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-05 04:25:36
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'Chronos[base]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST']
Training timeseries model SeasonalNaive. Training for up to 46.2s of the 600.0s of remaining time.
	-1.0446       = Validation score (-RMSSE)
	0.08    s     = Training runtime
	0.03    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular. Training for up to 50.0s of the 599.8s of remaining time.
	-1.0071       = Validation score (-RMSSE)
	16.40   s     = Training runtime
	1.41    s     = Validation (prediction) runtime
Training timeseries model DirectTabular. Training for up to 52.9s of the 582.0s of remaining time.
	-0.6467       = Validation score (-RMSSE)
	3.57    s     = Training runtime
	0.13    s     = Validation (prediction) runtime
Training timeseries model CrostonSBA. Training for up to 57.8s of the 578.3s of remaining time.
	-0.6642       = Validation score (-RMSSE)
	0.08    s     = Training runtime
	0.02    s     = Validation (prediction) runtime
Training timeseries model NPTS. Training for up to 64.2s of the 578.2s of remaining time.
	-0.6447       = Validation score (-RMSSE)
	0.69    s     = Training runtime
	0.62    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta. Training for up to 72.1s of the 576.9s of remaining time.
	-0.6561       = Validation score (-RMSSE)
	1.72    s     = Training runtime
	1.99    s     = Validation (prediction) runtime
Training timeseries model AutoETS. Training for up to 81.9s of the 573.2s of remaining time.
	-0.6555       = Validation score (-RMSSE)
	0.62    s     = Training runtime
	0.68    s     = Validation (prediction) runtime
Training timeseries model AutoARIMA. Training for up to 95.3s of the 571.9s of remaining time.
	-0.6807       = Validation score (-RMSSE)
	3.41    s     = Training runtime
	3.37    s     = Validation (prediction) runtime
Training timeseries model Chronos[base]. Training for up to 113.0s of the 565.1s of remaining time.
	Warning: Exception caused Chronos[base] to fail during training... Skipping this model.
	Chronos[base]/W0 requires a GPU to run, but no GPU was detected. Please make sure that you are using a computer with a CUDA-compatible GPU and `import torch; torch.cuda.is_available()` returns `True`.
Training timeseries model TemporalFusionTransformer. Training for up to 141.3s of the 565.1s of remaining time.
	Warning: Exception caused TemporalFusionTransformer to fail during training... Skipping this model.
	/opt/conda/lib/python3.10/site-packages/torchaudio/lib/libtorchaudio.so: undefined symbol: _ZNK3c105Error4whatEv
Training timeseries model DeepAR. Training for up to 188.3s of the 565.0s of remaining time.
	Warning: Exception caused DeepAR to fail during training... Skipping this model.
	/opt/conda/lib/python3.10/site-packages/torchaudio/lib/libtorchaudio.so: undefined symbol: _ZNK3c105Error4whatEv
Training timeseries model PatchTST. Training for up to 282.4s of the 564.9s of remaining time.
	Warning: Exception caused PatchTST to fail during training... Skipping this model.
	/opt/conda/lib/python3.10/site-packages/torchaudio/lib/libtorchaudio.so: undefined symbol: _ZNK3c105Error4whatEv
Fitting simple weighted ensemble.
	Ensemble weights: {'CrostonSBA': 0.44, 'NPTS': 0.56}
	-0.6056       = Validation score (-RMSSE)
	1.26    s     = Training runtime
	0.65    s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'WeightedEnsemble']
Total runtime: 36.43 s
Best model: WeightedEnsemble
Best model score: -0.6056

In [80]:
# Step 3: Evaluate the model on additional metrics
# Generate a leaderboard with multiple evaluation metrics
leaderboard = predictor.leaderboard(
    data=sales_data,  # Use the sales data for evaluation
    display=True  # Display the leaderboard DataFrame directly
)

Additional data provided, testing on additional data. Resulting leaderboard will be sorted according to test score (`score_test`).

                   model  score_test  score_val  pred_time_test  pred_time_val  fit_time_marginal  fit_order
0       WeightedEnsemble   -0.535829  -0.605556        3.447913       0.648620           1.262752          9
1          DirectTabular   -0.554516  -0.646693        0.141741       0.127481           3.570811          3
2             CrostonSBA   -0.582455  -0.664246        2.809778       0.024497           0.079935          4
3                   NPTS   -0.584727  -0.644715        0.636007       0.624123           0.687188          5
4                AutoETS   -0.593166  -0.655525       31.542781       0.682728           0.617166          7
5  DynamicOptimizedTheta   -0.594249  -0.656060       44.064677       1.990056           1.715187          6
6              AutoARIMA   -0.616070  -0.680747       25.580931       3.368874           3.413742          8
7          SeasonalNaive   -1.024961  -1.044558        0.026598       0.025762           0.083555          1
8       RecursiveTabular   -1.155362  -1.007065        1.409778       1.405042          16.399784          2

# Prediction

In [70]:
# Prepare forecast horizon covariates
future_index = get_forecast_horizon_index_ts_dataframe(sales_data, prediction_length=28)
future_timestamps = future_index.get_level_values("timestamp")

# Create a DataFrame for future timestamps to merge with calendar
future_dates_df = pd.DataFrame({'timestamp': future_timestamps})

# Ensure 'date' in calendar is in datetime format and set as index
calendar['date'] = pd.to_datetime(calendar.index)  # Ensure date is datetime if not already
calendar.set_index('date', inplace=True)

# Select relevant columns from calendar for merging
calendar_filtered = calendar[['wday', 'snap_CA', 'snap_TX', 'snap_WI', 'sell_price'] + event_columns]

# Merge future_dates_df with calendar_filtered on 'timestamp'
known_covariates = future_dates_df.merge(calendar_filtered, left_on='timestamp', right_index=True, how='left')

# Set the index for known_covariates to match future_index
known_covariates.index = future_index

In [71]:
known_covariates

                                        timestamp  wday  snap_CA  snap_TX  \
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2016-05-23 2016-05-23     3        0        0
                            2016-05-24 2016-05-24     4        0        0
                            2016-05-25 2016-05-25     5        0        0
                            2016-05-26 2016-05-26     6        0        0
                            2016-05-27 2016-05-27     7        0        0
                            2016-05-28 2016-05-28     1        0        0
                            2016-05-29 2016-05-29     2        0        0
                            2016-05-30 2016-05-30     3        0        0
                            2016-05-31 2016-05-31     4        0        0
                            2016-06-01 2016-06-01     5        1        1
                            2016-06-02 2016-06-02     6        1        0
                            2016-06-03 2016-06-03     7        1        1
                            2016-06-04 2016-06-04     1        1        0
                            2016-06-05 2016-06-05     2        1        1
                            2016-06-06 2016-06-06     3        1        1
                            2016-06-07 2016-06-07     4        1        1
                            2016-06-08 2016-06-08     5        1        0
                            2016-06-09 2016-06-09     6        1        1
                            2016-06-10 2016-06-10     7        1        0
                            2016-06-11 2016-06-11     1        0        1
                            2016-06-12 2016-06-12     2        0        1
                            2016-06-13 2016-06-13     3        0        1
                            2016-06-14 2016-06-14     4        0        0
                            2016-06-15 2016-06-15     5        0        1
                            2016-06-16 2016-06-16     6        0        0
                            2016-06-17 2016-06-17     7        0        0
                            2016-06-18 2016-06-18     1        0        0
                            2016-06-19 2016-06-19     2        0        0

                                        snap_WI  sell_price  event_name_1  \
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2016-05-23        0    1.679688            30
                            2016-05-24        0    1.679688            30
                            2016-05-25        0    1.679688            30
                            2016-05-26        0    1.679688            30
                            2016-05-27        0    1.679688            30
                            2016-05-28        0    1.679688            30
                            2016-05-29        0    1.679688            30
                            2016-05-30        0    1.679688            14
                            2016-05-31        0    1.679688            30
                            2016-06-01        0    1.679688            30
                            2016-06-02        1    1.679688            17
                            2016-06-03        1    1.679688            30
                            2016-06-04        0    1.679688            30
                            2016-06-05        1    1.679688            30
                            2016-06-06        1    1.679688            30
                            2016-06-07        0    1.679688            24
                            2016-06-08        1    1.679688            30
                            2016-06-09        1    1.679688            30
                            2016-06-10        0    1.679688            30
                            2016-06-11        1    1.679688            30
                            2016-06-12        1    1.679688            30
                            2016-06-13        0    1.679688            30
                            2016-06-14        1    1.679688            30
                            2016-06-15        1    1.679688            30
                            2016-06-16        0    1.679688            30
                            2016-06-17        0    1.679688            30
                            2016-06-18        0    1.679688            30
                            2016-06-19        0    1.679688            16

                                        event_type_1  event_name_2  \
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2016-05-23             4             4
                            2016-05-24             4             4
                            2016-05-25             4             4
                            2016-05-26             4             4
                            2016-05-27             4             4
                            2016-05-28             4             4
                            2016-05-29             4             4
                            2016-05-30             1             4
                            2016-05-31             4             4
                            2016-06-01             4             4
                            2016-06-02             3             4
                            2016-06-03             4             4
                            2016-06-04             4             4
                            2016-06-05             4             4
                            2016-06-06             4             4
                            2016-06-07             2             4
                            2016-06-08             4             4
                            2016-06-09             4             4
                            2016-06-10             4             4
                            2016-06-11             4             4
                            2016-06-12             4             4
                            2016-06-13             4             4
                            2016-06-14             4             4
                            2016-06-15             4             4
                            2016-06-16             4             4
                            2016-06-17             4             4
                            2016-06-18             4             4
                            2016-06-19             3             2

                                        event_type_2
item_id                     timestamp
FOODS_3_586_TX_1_evaluation 2016-05-23             2
                            2016-05-24             2
                            2016-05-25             2
                            2016-05-26             2
                            2016-05-27             2
                            2016-05-28             2
                            2016-05-29             2
                            2016-05-30             2
                            2016-05-31             2
                            2016-06-01             2
                            2016-06-02             2
                            2016-06-03             2
                            2016-06-04             2
                            2016-06-05             2
                            2016-06-06             2
                            2016-06-07             2
                            2016-06-08             2
                            2016-06-09             2
                            2016-06-10             2
                            2016-06-11             2
                            2016-06-12             2
                            2016-06-13             2
                            2016-06-14             2
                            2016-06-15             2
                            2016-06-16             2
                            2016-06-17             2
                            2016-06-18             2
                            2016-06-19             0

In [72]:
# Generate predictions
predictions = predictor.predict(sales_data, known_covariates=known_covariates)

Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble

In [73]:
import plotly.graph_objects as go

# Reset index to make 'timestamp' a simple column for plotting
sales_data_reset = sales_data.reset_index()

# Create traces for actual and predicted sales
fig = go.Figure()

# Add actual sales trace
fig.add_trace(go.Scatter(
    x=sales_data_reset['timestamp'][-28:], 
    y=sales_data_reset['sales'][-28:], 
    mode='lines+markers',
    name='Actual Sales'
))

# Add predicted sales trace
fig.add_trace(go.Scatter(
    x=sales_data_reset['timestamp'][-28:], 
    y=predictions['mean'], 
    mode='lines+markers',
    name='Predicted Sales'
))

# Update layout with titles and axis labels
fig.update_layout(
    title="Actual vs Predicted Sales with Known Covariates (AutoGluon)",
    xaxis_title="Date",
    yaxis_title="Sales",
    legend_title="Legend",
    template="plotly_dark"
)

# Show plot
fig.show()

# Applying on all validation set

In [2]:
calendar = pd.read_csv("/kaggle/input/m5-forecasting-accuracy/calendar.csv")
sales_train_evaluation = pd.read_csv("/kaggle/input/m5-forecasting-accuracy/sales_train_evaluation.csv")
sell_prices = pd.read_csv("/kaggle/input/m5-forecasting-accuracy/sell_prices.csv")

In [3]:
# Memory optimization function
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min, c_max = df[col].min(), df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
        elif col_type == 'object':
            if col == 'date':
                df[col] = pd.to_datetime(df[col], format='%Y-%m-%d')
            else:
                df[col] = df[col].astype('category')
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose:
        print(f'Memory usage reduced to {end_mem:5.2f} Mb ({100 * (start_mem - end_mem) / start_mem:.1f}% reduction)')
    return df

In [4]:
# Apply the optimized memory reduction function to each dataframe
calendar = reduce_mem_usage(calendar)
sell_prices = reduce_mem_usage(sell_prices)
sales_train_evaluation = reduce_mem_usage(sales_train_evaluation)

Memory usage reduced to  0.13 Mb (40.4% reduction)
Memory usage reduced to 45.76 Mb (78.1% reduction)
Memory usage reduced to 96.30 Mb (78.7% reduction)

In [5]:
sales_train_evaluation

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,0,3,0,1,1,0,0,1,1
30486,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
30487,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0,0,1,2,0,1,0,1,0,2
30488,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,1,1,4,6,0,1,1,1,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,2,0,5,4,0,2,2,5,1

In [6]:
# Step 1: Map d_ columns to dates
date_mapping = calendar[['date', 'd']].set_index('d').to_dict()['date']

# Step 2: Extract only the sales data columns and transpose
sales_data = sales_train_evaluation.filter(regex=r'd_\d+', axis=1).T
sales_data.index.name = 'd'  # Name the index for clarity

# Step 3: Map the index (d_1, d_2, ...) to actual dates using date_mapping
sales_data['timestamp'] = sales_data.index.map(date_mapping)
sales_data['timestamp'] = pd.to_datetime(sales_data['timestamp'])

# **Filter to keep only data from 2013-01-01 onwards**
sales_data = sales_data[sales_data['timestamp'] >= '2013-01-01']

# Step 4: Reset the index and set item_ids as columns
item_ids = sales_train_evaluation['id'].values
sales_data.columns = list(item_ids) + ['timestamp']  # Append 'timestamp' to match the shape

# Step 5: Set timestamp as the index
sales_data = sales_data.set_index('timestamp')

# Step 6: Convert to long format
sales_data_long = sales_data.reset_index().melt(id_vars='timestamp', var_name='item_id', value_name='sales')

# Step 7: Convert to TimeSeriesDataFrame for use with AutoGluon
sales_data = TimeSeriesDataFrame(sales_data_long.set_index(['item_id', 'timestamp']))

In [7]:
sales_data = reduce_mem_usage(sales_data)

Memory usage reduced to 217.27 Mb (0.0% reduction)

In [8]:
sales_data

                                          sales
item_id                       timestamp
HOBBIES_1_001_CA_1_evaluation 2013-01-01      0
                              2013-01-02      0
                              2013-01-03      0
                              2013-01-04      0
                              2013-01-05      0
...                                         ...
FOODS_3_827_WI_3_evaluation   2016-05-18      0
                              2016-05-19      2
                              2016-05-20      2
                              2016-05-21      5
                              2016-05-22      1

[37746620 rows x 1 columns]

# Setting up time-varying covariates

In [9]:
calendar

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [10]:
sell_prices

        store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325    9.578125
1           CA_1  HOBBIES_1_001     11326    9.578125
2           CA_1  HOBBIES_1_001     11327    8.257812
3           CA_1  HOBBIES_1_001     11328    8.257812
4           CA_1  HOBBIES_1_001     11329    8.257812
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617    1.000000
6841117     WI_3    FOODS_3_827     11618    1.000000
6841118     WI_3    FOODS_3_827     11619    1.000000
6841119     WI_3    FOODS_3_827     11620    1.000000
6841120     WI_3    FOODS_3_827     11621    1.000000

[6841121 rows x 4 columns]

In [11]:
# Step 1: Encode event-related features in the calendar dataframe
event_columns = ['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
le = LabelEncoder()
for col in event_columns:
    calendar[col] = le.fit_transform(calendar[col].astype(str))

# Step 2: Merge calendar information into sell_prices on 'wm_yr_wk'
# This avoids expanding rows as 'sell_prices' has the required granularity
sell_prices = sell_prices.merge(calendar, how='left', on='wm_yr_wk')

In [12]:
sell_prices

,store_id,item_id,wm_yr_wk,sell_price,date,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,CA_1,HOBBIES_1_001,11325,9.578125,2013-07-13,Saturday,1,7,2013,d_897,30,4,4,2,0,1,0
1,CA_1,HOBBIES_1_001,11325,9.578125,2013-07-14,Sunday,2,7,2013,d_898,30,4,4,2,0,0,1
2,CA_1,HOBBIES_1_001,11325,9.578125,2013-07-15,Monday,3,7,2013,d_899,30,4,4,2,0,1,1
3,CA_1,HOBBIES_1_001,11325,9.578125,2013-07-16,Tuesday,4,7,2013,d_900,30,4,4,2,0,0,0
4,CA_1,HOBBIES_1_001,11325,9.578125,2013-07-17,Wednesday,5,7,2013,d_901,30,4,4,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47735392,WI_3,FOODS_3_827,11620,1.000000,2016-06-15,Wednesday,5,6,2016,d_1965,30,4,4,2,0,1,1
47735393,WI_3,FOODS_3_827,11620,1.000000,2016-06-16,Thursday,6,6,2016,d_1966,30,4,4,2,0,0,0
47735394,WI_3,FOODS_3_827,11620,1.000000,2016-06-17,Friday,7,6,2016,d_1967,30,4,4,2,0,0,0
47735395,WI_3,FOODS_3_827,11621,1.000000,2016-06-18,Saturday,1,6,2016,d_1968,30,4,4,2,0,0,0
47735396,WI_3,FOODS_3_827,11621,1.000000,2016-06-19,Sunday,2,6,2016,d_1969,16,3,2,0,0,0,0

# Keep only data from 2013-01-01

In [13]:
# Convert 'item_id' and 'store_id' to strings before concatenation
sell_prices['item_id'] = sell_prices['item_id'].astype(str)
sell_prices['store_id'] = sell_prices['store_id'].astype(str)

# Create the new column with the required format
sell_prices['item_id_full'] = sell_prices['item_id'] + "_" + sell_prices['store_id'] + "_evaluation"

# Convert the 'date' column in sell_prices to datetime if not already done
sell_prices['date'] = pd.to_datetime(sell_prices['date'])

# Filter sell_prices to keep only data from 2013-01-01 onwards
sell_prices = sell_prices[sell_prices['date'] >= '2013-01-01']

# Now filter only relevant columns and rename 'date' to 'timestamp' for merging
calendar_columns = ['wday', 'snap_CA', 'snap_TX', 'snap_WI', 'sell_price', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
sell_prices_filtered = sell_prices[['item_id_full', 'date'] + calendar_columns].rename(columns={'date': 'timestamp'})

# Reset index for sales_data for merging
sales_data_reset = sales_data.reset_index()

In [14]:
sales_data_reset = reduce_mem_usage(sales_data_reset)

Memory usage reduced to 433.22 Mb (33.1% reduction)

In [15]:
sell_prices_filtered = reduce_mem_usage(sell_prices_filtered)

Memory usage reduced to 946.57 Mb (54.8% reduction)

In [16]:
sales_data_reset

                                item_id  timestamp  sales
0         HOBBIES_1_001_CA_1_evaluation 2013-01-01      0
1         HOBBIES_1_001_CA_1_evaluation 2013-01-02      0
2         HOBBIES_1_001_CA_1_evaluation 2013-01-03      0
3         HOBBIES_1_001_CA_1_evaluation 2013-01-04      0
4         HOBBIES_1_001_CA_1_evaluation 2013-01-05      0
...                                 ...        ...    ...
37746615    FOODS_3_827_WI_3_evaluation 2016-05-18      0
37746616    FOODS_3_827_WI_3_evaluation 2016-05-19      2
37746617    FOODS_3_827_WI_3_evaluation 2016-05-20      2
37746618    FOODS_3_827_WI_3_evaluation 2016-05-21      5
37746619    FOODS_3_827_WI_3_evaluation 2016-05-22      1

[37746620 rows x 3 columns]

In [17]:
sell_prices_filtered

,item_id_full,timestamp,wday,snap_CA,snap_TX,snap_WI,sell_price,event_name_1,event_type_1,event_name_2,event_type_2
0,HOBBIES_1_001_CA_1_evaluation,2013-07-13,1,0,1,0,9.578125,30,4,4,2
1,HOBBIES_1_001_CA_1_evaluation,2013-07-14,2,0,0,1,9.578125,30,4,4,2
2,HOBBIES_1_001_CA_1_evaluation,2013-07-15,3,0,1,1,9.578125,30,4,4,2
3,HOBBIES_1_001_CA_1_evaluation,2013-07-16,4,0,0,0,9.578125,30,4,4,2
4,HOBBIES_1_001_CA_1_evaluation,2013-07-17,5,0,0,0,9.578125,30,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...
47735392,FOODS_3_827_WI_3_evaluation,2016-06-15,5,0,1,1,1.000000,30,4,4,2
47735393,FOODS_3_827_WI_3_evaluation,2016-06-16,6,0,0,0,1.000000,30,4,4,2
47735394,FOODS_3_827_WI_3_evaluation,2016-06-17,7,0,0,0,1.000000,30,4,4,2
47735395,FOODS_3_827_WI_3_evaluation,2016-06-18,1,0,0,0,1.000000,30,4,4,2
47735396,FOODS_3_827_WI_3_evaluation,2016-06-19,2,0,0,0,1.000000,16,3,2,0

In [18]:
del sell_prices
gc.collect()

0

# Merge by batch and monitor memory

In [19]:
# Define chunk size (adjust based on available memory)
chunk_size = 1_000_000

# Initialize an empty list to store merged chunks
merged_chunks = []

# Total rows in sales_data_reset for progress tracking
total_rows = len(sales_data_reset)
num_chunks = (total_rows // chunk_size) + 1

# Loop over sales_data_reset in chunks
for i, start in enumerate(range(0, total_rows, chunk_size)):
    # Slice the chunk from sales_data_reset
    sales_data_chunk = sales_data_reset.iloc[start:start + chunk_size]
    
    # Print progress
    print(f"Processing chunk {i + 1}/{num_chunks} (rows {start} to {start + chunk_size - 1})")

    # Perform the merge for the chunk with sell_prices_filtered
    merged_chunk = sales_data_chunk.merge(
        sell_prices_filtered,
        left_on=['item_id', 'timestamp'],
        right_on=['item_id_full', 'timestamp'],
        how='left'
    )

    # Drop unnecessary columns and append the chunk to the list
    merged_chunk.drop(columns=['item_id_full'], inplace=True)
    merged_chunks.append(merged_chunk)

    # Print memory usage after appending the chunk
    mem = psutil.virtual_memory()
    print(f"Chunk {i + 1} merged and added to list. Current memory usage: {mem.percent}%")

    # Delete the intermediate variables and run garbage collection
    del sales_data_chunk, merged_chunk
    gc.collect()

# Concatenate all merged chunks
print("Concatenating all chunks into final DataFrame...")
sales_data = pd.concat(merged_chunks).set_index(['item_id', 'timestamp'])

# Optionally, clear the merged_chunks list to free up memory
del merged_chunks
gc.collect()

# Print final memory usage
mem = psutil.virtual_memory()
print(f"All chunks processed and merged. Final memory usage: {mem.percent}%")

Processing chunk 1/38 (rows 0 to 999999)
Chunk 1 merged and added to list. Current memory usage: 54.6%
Processing chunk 2/38 (rows 1000000 to 1999999)
Chunk 2 merged and added to list. Current memory usage: 54.8%
Processing chunk 3/38 (rows 2000000 to 2999999)
Chunk 3 merged and added to list. Current memory usage: 54.9%
Processing chunk 4/38 (rows 3000000 to 3999999)
Chunk 4 merged and added to list. Current memory usage: 55.2%
Processing chunk 5/38 (rows 4000000 to 4999999)
Chunk 5 merged and added to list. Current memory usage: 55.3%
Processing chunk 6/38 (rows 5000000 to 5999999)
Chunk 6 merged and added to list. Current memory usage: 55.5%
Processing chunk 7/38 (rows 6000000 to 6999999)
Chunk 7 merged and added to list. Current memory usage: 55.7%
Processing chunk 8/38 (rows 7000000 to 7999999)
Chunk 8 merged and added to list. Current memory usage: 56.0%
Processing chunk 9/38 (rows 8000000 to 8999999)
Chunk 9 merged and added to list. Current memory usage: 56.2%
Processing chunk 10/38 (rows 9000000 to 9999999)
Chunk 10 merged and added to list. Current memory usage: 56.3%
Processing chunk 11/38 (rows 10000000 to 10999999)
Chunk 11 merged and added to list. Current memory usage: 56.7%
Processing chunk 12/38 (rows 11000000 to 11999999)
Chunk 12 merged and added to list. Current memory usage: 56.8%
Processing chunk 13/38 (rows 12000000 to 12999999)
Chunk 13 merged and added to list. Current memory usage: 55.9%
Processing chunk 14/38 (rows 13000000 to 13999999)
Chunk 14 merged and added to list. Current memory usage: 56.1%
Processing chunk 15/38 (rows 14000000 to 14999999)
Chunk 15 merged and added to list. Current memory usage: 56.1%
Processing chunk 16/38 (rows 15000000 to 15999999)
Chunk 16 merged and added to list. Current memory usage: 56.5%
Processing chunk 17/38 (rows 16000000 to 16999999)
Chunk 17 merged and added to list. Current memory usage: 56.8%
Processing chunk 18/38 (rows 17000000 to 17999999)
Chunk 18 merged and added to list. Current memory usage: 57.2%
Processing chunk 19/38 (rows 18000000 to 18999999)
Chunk 19 merged and added to list. Current memory usage: 57.4%
Processing chunk 20/38 (rows 19000000 to 19999999)
Chunk 20 merged and added to list. Current memory usage: 57.7%
Processing chunk 21/38 (rows 20000000 to 20999999)
Chunk 21 merged and added to list. Current memory usage: 57.7%
Processing chunk 22/38 (rows 21000000 to 21999999)
Chunk 22 merged and added to list. Current memory usage: 58.0%
Processing chunk 23/38 (rows 22000000 to 22999999)
Chunk 23 merged and added to list. Current memory usage: 58.3%
Processing chunk 24/38 (rows 23000000 to 23999999)
Chunk 24 merged and added to list. Current memory usage: 58.5%
Processing chunk 25/38 (rows 24000000 to 24999999)
Chunk 25 merged and added to list. Current memory usage: 58.8%
Processing chunk 26/38 (rows 25000000 to 25999999)
Chunk 26 merged and added to list. Current memory usage: 59.0%
Processing chunk 27/38 (rows 26000000 to 26999999)
Chunk 27 merged and added to list. Current memory usage: 59.3%
Processing chunk 28/38 (rows 27000000 to 27999999)
Chunk 28 merged and added to list. Current memory usage: 59.4%
Processing chunk 29/38 (rows 28000000 to 28999999)
Chunk 29 merged and added to list. Current memory usage: 59.7%
Processing chunk 30/38 (rows 29000000 to 29999999)
Chunk 30 merged and added to list. Current memory usage: 59.9%
Processing chunk 31/38 (rows 30000000 to 30999999)
Chunk 31 merged and added to list. Current memory usage: 60.2%
Processing chunk 32/38 (rows 31000000 to 31999999)
Chunk 32 merged and added to list. Current memory usage: 60.4%
Processing chunk 33/38 (rows 32000000 to 32999999)
Chunk 33 merged and added to list. Current memory usage: 60.6%
Processing chunk 34/38 (rows 33000000 to 33999999)
Chunk 34 merged and added to list. Current memory usage: 60.9%
Processing chunk 35/38 (rows 34000000 to 34999999)
Chunk 35 merged and added to list. Current memory usage: 61.1%
Processing chunk 36/38 (rows 35000000 to 35999999)
Chunk 36 merged and added to list. Current memory usage: 61.3%
Processing chunk 37/38 (rows 36000000 to 36999999)
Chunk 37 merged and added to list. Current memory usage: 61.6%
Processing chunk 38/38 (rows 37000000 to 37999999)
Chunk 38 merged and added to list. Current memory usage: 61.7%
Concatenating all chunks into final DataFrame...
All chunks processed and merged. Final memory usage: 63.6%

In [21]:
sales_data

                                          sales  wday  snap_CA  snap_TX  \
item_id                       timestamp
HOBBIES_1_001_CA_1_evaluation 2013-01-01      0   NaN      NaN      NaN
                              2013-01-02      0   NaN      NaN      NaN
                              2013-01-03      0   NaN      NaN      NaN
                              2013-01-04      0   NaN      NaN      NaN
                              2013-01-05      0   NaN      NaN      NaN
...                                         ...   ...      ...      ...
FOODS_3_827_WI_3_evaluation   2016-05-18      0   5.0      0.0      0.0
                              2016-05-19      2   6.0      0.0      0.0
                              2016-05-20      2   7.0      0.0      0.0
                              2016-05-21      5   1.0      0.0      0.0
                              2016-05-22      1   2.0      0.0      0.0

                                          snap_WI  sell_price  event_name_1  \
item_id                       timestamp
HOBBIES_1_001_CA_1_evaluation 2013-01-01      NaN         NaN           NaN
                              2013-01-02      NaN         NaN           NaN
                              2013-01-03      NaN         NaN           NaN
                              2013-01-04      NaN         NaN           NaN
                              2013-01-05      NaN         NaN           NaN
...                                           ...         ...           ...
FOODS_3_827_WI_3_evaluation   2016-05-18      0.0         1.0          30.0
                              2016-05-19      0.0         1.0          30.0
                              2016-05-20      0.0         1.0          30.0
                              2016-05-21      0.0         1.0          30.0
                              2016-05-22      0.0         1.0          30.0

                                          event_type_1  event_name_2  \
item_id                       timestamp
HOBBIES_1_001_CA_1_evaluation 2013-01-01           NaN           NaN
                              2013-01-02           NaN           NaN
                              2013-01-03           NaN           NaN
                              2013-01-04           NaN           NaN
                              2013-01-05           NaN           NaN
...                                                ...           ...
FOODS_3_827_WI_3_evaluation   2016-05-18           4.0           4.0
                              2016-05-19           4.0           4.0
                              2016-05-20           4.0           4.0
                              2016-05-21           4.0           4.0
                              2016-05-22           4.0           4.0

                                          event_type_2
item_id                       timestamp
HOBBIES_1_001_CA_1_evaluation 2013-01-01           NaN
                              2013-01-02           NaN
                              2013-01-03           NaN
                              2013-01-04           NaN
                              2013-01-05           NaN
...                                                ...
FOODS_3_827_WI_3_evaluation   2016-05-18           2.0
                              2016-05-19           2.0
                              2016-05-20           2.0
                              2016-05-21           2.0
                              2016-05-22           2.0

[37746620 rows x 10 columns]

In [22]:
del sales_data_reset, sell_prices_filtered
gc.collect()

0

# Initialise and fit with TimeSeriesPredictor

In [ ]:
# Step 1: Initialize the TimeSeriesPredictor with a primary eval_metric
predictor = TimeSeriesPredictor(
    prediction_length=28,
    target="sales",
    known_covariates_names=['wday', 'snap_CA', 'snap_TX', 'snap_WI', 'sell_price'] + event_columns,
    eval_metric="RMSSE"  # Primary metric for training
)

# Step 2: Fit the predictor
predictor.fit(train_data=sales_data, presets="medium_quality", time_limit=600)

No path specified. Models will be saved in: "AutogluonModels/ag-20241105_085720"
Beginning AutoGluon training... Time limit = 600s
AutoGluon will save models to 'AutogluonModels/ag-20241105_085720'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.10.14
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #1 SMP Thu Jun 27 20:43:36 UTC 2024
CPU Count:          4
GPU Count:          0
Memory Avail:       8.88 GB / 31.36 GB (28.3%)
Disk Space Avail:   19.50 GB / 19.52 GB (99.9%)
===================================================
Setting presets to: medium_quality

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': RMSSE,
 'hyperparameters': 'light',
 'known_covariates_names': ['wday',
                            'snap_CA',
                            'snap_TX',
                            'snap_WI',
                            'sell_price',
                            'event_name_1',
                            'event_type_1',
                            'event_name_2',
                            'event_type_2'],
 'num_val_windows': 1,
 'prediction_length': 28,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'sales',
 'time_limit': 600,
 'verbosity': 2}

Inferred time series frequency: 'D'
Provided train_data has 37746620 rows, 30490 time series. Median time series length is 1238 (min=1238, max=1238).

Provided data contains following columns:
	target: 'sales'